# ==========================================
# 🧱 .NET build folders
# ==========================================
bin/
obj/

# ==========================================
# 🅰️ Angular build folders
# ==========================================
FinantePLFullStack/node_modules/
FinantePLFullStack/dist/
FinantePLFullStack/.angular/cache

# ==========================================
# 🧠 IDE / VS / Code files
# ==========================================
.vs/
.vscode/
.idea/
*.user
*.suo
*.log
*.launch
*.sublime-workspace
*.workspace
.settings/
.history/*

# ==========================================
# ⚙️ Node / npm
# ==========================================
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# ==========================================
# 📦 Output folders
# ==========================================
dist/
tmp/
out-tsc/
bazel-out/
coverage/
connect.lock
typings/
__screenshots__/
libpeerconnection.log
testem.log

# ==========================================
# 🧹 System files
# ==========================================
Thumbs.db
.DS_Store
